/* BelleFair Font */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Raleway:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/* **NAVBAR** */

.bar {
  display: flex;
  align-items: center;
}

img {
  margin-right: auto;
  background-color: #fff;
  border-radius: 50%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  padding: 1rem;
  backdrop-filter: blur(10px);
  margin: 1rem;
  color: #fff;
 
}

li {
  margin: 1rem;
  /* backdrop-filter: blur(10px); */
}

.numbers {
  margin: 12px;
  font-weight: bold;
}

/* **MAIN-PAGE** */
.home-page {
  background: url(/public/world-background.png)no-repeat 0 0 fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;

}